:root {
  
  /* Основные цвета */
  --white: #FFFFFF;
  --primary: #0547D1;
  --dark: #121724;
  --gray-dark: #667085;
  --green: #0F8C33;

  /* Дополнительные */
  --gray: #6E788C;
  --gray-light: #CCD1DB;
  --background: #E0E5F0;

  --blue-light: #053DD1;

  --success: #218C0D;

  /* Градиент */
  --linear-gradient: linear-gradient(
    135deg,
    #0547D1 0%,
    #053DD1 100%
  );
}



#root {
  width: 100%;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}
body {
  margin: 0;
}
p {
  margin: 0;
}

