.hero-img{
    width: 100%;
}

.hero-part{
    position: relative;
    width: 100%;
}

.hero-text{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero-text h3{
    color: var(--white);
    font-size: 45px;
    padding: 0;
    margin: 0;
}

.hero-text p{
    color: var(--white);
}